@import "reset.css";
@import "variables.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html, body {
    color: white;
    width: 100%;
    height: 100%;
}

body {
    min-height: 750px;
}

.main-top {
    width: 100%;
    height: 65px;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    height: 100%;
}

.links-text__logo {
    font-size: 18px;
    font-weight: 500;
    padding-right: 15px;
}

.links-search {
    width: 100%;
    height: 100%;
}

.links-form {
    position: relative;
    width: 100%;
    height: 100%;
}

.links-form:hover .links-form__underline,
.links-form:hover .links-browser,
.links-form:hover .links-form__input {
    opacity: 0.5;
}

.links-form:focus-within .links-form__underline,
.links-form:focus-within .links-browser,
.links-form:focus-within .links-form__input {
    opacity: 1;
}

.links-form__underline {
    width: 100%;
    position: absolute;
    bottom: 5px;
    border-bottom: 2px solid white;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.fa-search {
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 15px;
}

.links-browser {
    position: absolute;
    top: 10px;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.links-browser__icon {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.fa-chevron-down {
    position: absolute;
    right: 0;
    top: 7px;
    font-size: 5px;
    cursor: pointer;
}

.browser-icons {
    position: absolute;
    top: 40px;
    right: -75px;
    width: 120px;
    height: 115px;
    background-color: black;
    border-radius: 0.4em;
}

.browser-icons::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: black;
    border-top: 0;
    border-left: 0;
    margin-left: -40px;
    margin-top: -15px;
}

.browser-icons__title {
    color: gray;
    font-size: 10px;
    text-transform: uppercase;
    margin: 10px 0px 5px 10px;
    display: block;
}

.browser-icons__item {
    font-size: 14px;
    width: 100%;
    height: 30px;
    display: flex;
}

.browser-icons__item:hover {
    background: rgba(255, 255, 255, 0.4);
}

#icon-daum {
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}

.browser-icons__icon {
    width: 30%;
    text-align: center;
    line-height: 30px;
}

.browser-icons__name {
    display: block;
    width: 70%;
    line-height: 30px;
}

.links-form__input {
    position: absolute;
    top: 13px;
    left: 20px;
    width: 150px;
    background-color: transparent;
    font-size: 15px;
    color: white;
    outline: none;
    border: none;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.links-form__input:focus {
    outline: none;
}

#weather {
    width: 100px;
    height: 100%;
    position: relative;
}

#weather-icon {
  position: absolute;
  top: -5px;
  left: 15px;
  width: 40px;
  height: 40px;
}

#weather-temp {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 27px;
    font-weight: 500;
}

#weather-city {
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: 13px;
}

.main {
    width: 100%;
    height: calc(47% - 40px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

#clock {
    font-size: 165px;
    font-weight: 500;
}

.login-form__input,
#greeting {
    border: none;
    background: transparent;
    font-size: 55px;
    font-weight: 500;
    color: white;
}

.login-form__input {
    border-bottom: 2px solid white;
    text-align: center;
}

.login-form__input::placeholder,
.todo-form__input::placeholder {
    color: white;
}

.login-form__input:focus,
.todo-form__input:focus {
    outline: none;
}

.hidden {
    display: none;
}

.backgronud-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.main-todo {
    width: 100%;
    height: calc(53% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    box-sizing: border-box;
}

.main-todo__title {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 20px;
}

.todo-form__input {
    border: none;
    background: transparent;
    font-size: 25px;
    font-weight: 500;
    color: white;
    border-bottom: 2px solid white;
    text-align: center;
    width: 350px;
}

#todo-list {
    margin-top: 20px;
    height: 145px;
    overflow: scroll;
    width: 410px;
}

#todo-list::-webkit-scrollbar {
    display: none;
}

#todo-list li {
    margin-bottom: 7px;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
}

.todo-list__span{
    font-size: 18px;
    font-weight: 700;
    width: 85%;
    line-height: 40px;
    font-family: 'Nanum Gothic', sans-serif;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    cursor: pointer;
    line-height: 40px;
}

input[type="checkbox"] + label::after{
    content:'';
    display: inline-block;
    margin-right: 10px;
    width: 13px;
    height: 13px;
    background-color: transparent;
    border: 2px solid var(--text-gray);
    border-radius: 5px;
    position: relative;
    top: 3px;
    line-height: 12px;
}

input[type="checkbox"]:checked + label::after {
    content:'✔';
    display: inline-block;
    width: 13px;
    height: 13px;
    border-color: #ffffff;
    color: var(--text-gray);
    position: relative;
    top: -0.5px;
}

input[type="checkbox"]:checked ~ span {
    color:  var(--text-gray);
    text-decoration-line: line-through;
}

.todo-list_btn {
    background: transparent;
    border: none;
    margin-left: 5px;
    vertical-align: -2px;
    color: white;
    font-size: 35px;
    cursor: pointer;
    line-height: 40px;
}

@media screen and (max-width:500px) {
    body {
        min-height: unset;
    }
    
    #clock {
        font-size: 120px;
    }

    .login-form__input, #greeting {
        text-align: center;
        font-size: 27px;
    }

    .main-todo {
    padding-top: 50px;
    }

    .todo-form__input {
        font-size: 18px;
        width: 320px;
    }

    #todo-list {
        width: 330px;
        height: 220px;
    }

    #todo-list li {
        margin-bottom: 2px;
    }

    input[type="checkbox"] {
        display: none;
    }
    
    input[type="checkbox"] + label {
        cursor: pointer;
        line-height: 40px;
    }
    
    input[type="checkbox"] + label::after{
        content:'';
        display: inline-block;
        margin-right: 10px;
        width: 11px;
        height: 11px;
        margin-right: 7px;
        background-color: transparent;
        border: 2px solid var(--text-gray);
        border-radius: 5px;
        position: relative;
        top: 1px;
        line-height: 12px;
    }
    
    input[type="checkbox"]:checked + label::after {
        content:'✔';
        display: inline-block;
        width: 11px;
        height: 11px;
        border-color: #ffffff;
        color: var(--text-gray);
        position: relative;
        top: -0.5px;
    }

    .todo-list__span {
        font-size: 15px;
        width: 90%;
        line-height: 37px;
    }

    .todo-list_btn {
        margin-left: 0px;
        padding: 0;
        font-size: 25px;
    }

    #quote {
        display: none;
    }

    .links-form__input {
        position: absolute;
        top: 13px;
        left: 20px;
        width: 150px;
        background-color: transparent;
        font-size: 15px;
        color: white;
        outline: none;
        border: none;
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }
}

@media screen and (max-width:768px) {
    #clock {
        font-size: 120px;
    }

    .login-form__input, #greeting {
        text-align: center;
        font-size: 27px;
    }

    .main-todo {
        justify-content: flex-start;
    }

    .todo-form__input {
        font-size: 20px;
    }

    #todo-list {
        height: 200px;
    }

    #quote {
        display: none;
    }

    .links-form__input {
        position: absolute;
        top: 13px;
        left: 20px;
        width: 150px;
        background-color: transparent;
        font-size: 15px;
        color: white;
        outline: none;
        border: none;
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }

    input[type="checkbox"] {
        display: none;
    }
    
    input[type="checkbox"] + label {
        cursor: pointer;
        line-height: 40px;
    }
    
    input[type="checkbox"] + label::after{
        content:'';
        display: inline-block;
        margin-right: 10px;
        width: 13px;
        height: 13px;
        background-color: transparent;
        border: 2px solid var(--text-gray);
        border-radius: 5px;
        position: relative;
        top: 3px;
        line-height: 12px;
    }
    
    input[type="checkbox"]:checked + label::after {
        content:'✔';
        display: inline-block;
        width: 13px;
        height: 13px;
        border-color: #ffffff;
        color: var(--text-gray);
        position: relative;
        top: -0.5px;
    }
    
    input[type="checkbox"]:checked ~ span {
        color:  var(--text-gray);
        text-decoration-line: line-through;
    }
}

@media screen and (max-width:1200px) {
    #greeting {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
    }
}
