@import "reset.css";
@import "variables.css";

html, body {
    color: white;
    width: 100%;
    height: 100%;
}

.main-top {
    width: 100%;
    height: 65px;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    height: 100%;
}

.links-text__logo {
    font-size: 18px;
    font-weight: 500;
    padding-right: 15px;
}

.links-search {
    width: 100%;
    height: 100%;
}

.links-form {
    position: relative;
    width: 100%;
    height: 100%;
}

.links-form:hover .links-form__underline,
.links-form:hover .links-browser,
.links-form:hover .links-form__input {
    opacity: 0.5;
}

.links-form:focus-within .links-form__underline,
.links-form:focus-within .links-browser,
.links-form:focus-within .links-form__input {
    opacity: 1;
}

.links-form__underline {
    width: 100%;
    position: absolute;
    bottom: 5px;
    border-bottom: 2px solid white;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.fa-search {
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 15px;
}

.links-browser {
    position: absolute;
    top: 10px;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.links-browser__icon {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.fa-chevron-down {
    position: absolute;
    right: 0;
    top: 7px;
    font-size: 5px;
    cursor: pointer;
}

.browser-icons {
    position: absolute;
    top: 40px;
    right: -75px;
    width: 120px;
    height: 115px;
    background-color: black;
    border-radius: 0.4em;
}

.browser-icons::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: black;
    border-top: 0;
    border-left: 0;
    margin-left: -40px;
    margin-top: -15px;
}

.browser-icons__title {
    color: gray;
    font-size: 10px;
    text-transform: uppercase;
    margin: 10px 0px 5px 10px;
    display: block;
}

.browser-icons__item {
    font-size: 14px;
    padding: 7px 10px;
    cursor: pointer;
}

.browser-icons__item:hover {
    background: rgba(255, 255, 255, 0.4);
}

.browser-icons__icon {
    margin-right: 5px;
}

.links-form__input {
    position: absolute;
    top: 13px;
    left: 20px;
    width: 150px;
    background-color: transparent;
    font-size: 15px;
    color: white;
    outline: none;
    border: none;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.links-form__input:focus {
    outline: none;
}

#weather {
    width: 100px;
    height: 100%;
    position: relative;
}

#weather-icon {
  position: absolute;
  top: -5px;
  left: 15px;
  width: 40px;
  height: 40px;
}

#weather-temp {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 27px;
    font-weight: 500;
}

#weather-city {
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: 13px;
}

.main {
    width: 100%;
    height: calc(47% - 40px);
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

#clock {
    font-size: 165px;
    font-weight: 500;
}

.login-form__input,
#greeting {
    border: none;
    background: transparent;
    font-size: 55px;
    font-weight: 500;
    color: white;
}

.login-form__input {
    border-bottom: 2px solid white;
    text-align: center;
}

.login-form__input::placeholder,
.todo-form__input::placeholder {
    color: white;
}

.login-form__input:focus,
.todo-form__input:focus {
    outline: none;
}

.hidden {
    display: none;
}

.backgronud-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.main-todo {
    width: 100%;
    height: calc(53% - 40px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    box-sizing: border-box;
}

.main-todo__title {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 20px;
}

.todo-form__input {
    border: none;
    background: transparent;
    font-size: 25px;
    font-weight: 500;
    color: white;
    border-bottom: 2px solid white;
    text-align: center;
    width: 350px;
}

#todo-list {
    margin-top: 20px;
}

#todo-list li {
    margin-bottom: 7px;
}

.todo-list__span{
    font-size: 25px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    cursor: pointer;
}

input[type="checkbox"] + label::after{
    content:'';
    display: inline-block;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border:3px solid var(--text-gray);
    border-radius: 5px;
    position: relative;
    top: 3px;
}

input[type="checkbox"]:checked + label::after {
    content:'✔';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-color: #ffffff;
    color: var(--text-gray);
    position: relative;
    top: -0.5px;
}

input[type="checkbox"]:checked ~ span {
    color:  var(--text-gray);
    text-decoration-line: line-through;
}

.todo-list_btn {
    background: transparent;
    border: none;
    margin-left: 5px;
    vertical-align: -2px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

#quote {
    position: absolute;
    bottom: 20px;
}