@import "reset.css";
@import "variables.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html, body {
    color: white;
    width: 100%;
    height: 100%;
}

body {
    min-height: 750px;
}

input[type="text"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.header {
    width: 100%;
    height: 65px;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    height: 100%;
}

.search__title {
    font-size: 18px;
    font-weight: 500;
    padding-right: 15px;
}

.search__inner {
    width: 100%;
    height: 100%;
}

.search__form {
    position: relative;
    width: 100%;
    height: 100%;
}

.search__form:hover .search__underline,
.search__form:hover .search__icons,
.search__form:hover .search__input {
    opacity: 0.5;
}

.search__form:focus-within .search__underline,
.search__form:focus-within .search__icons,
.search__form:focus-within .search__input {
    opacity: 1;
}

.search__underline {
    width: 100%;
    position: absolute;
    bottom: 5px;
    border-bottom: 2px solid white;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.fa-search {
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 15px;
}

.search__icons {
    position: absolute;
    top: 10px;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.fa-chevron-down {
    position: absolute;
    right: 0;
    top: 7px;
    font-size: 5px;
    cursor: pointer;
}

.browsers {
    position: absolute;
    top: 40px;
    right: -75px;
    width: 120px;
    height: 115px;
    background-color: black;
    border-radius: 0.4em;
}

.browsers::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: black;
    border-top: 0;
    border-left: 0;
    margin-left: -40px;
    margin-top: -15px;
}

.browsers__title {
    color: gray;
    font-size: 10px;
    text-transform: uppercase;
    margin: 10px 0px 5px 10px;
    display: block;
}

.browsers__item {
    font-size: 14px;
    width: 100%;
    height: 30px;
    display: flex;
}

.browsers__item:hover {
    background: rgba(255, 255, 255, 0.4);
}

#icon-daum {
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}

.browsers__icon {
    width: 30%;
    text-align: center;
    line-height: 30px;
}

.browsers__name {
    display: block;
    width: 70%;
    line-height: 30px;
}

.search__input {
    position: absolute;
    top: 13px;
    left: 20px;
    width: 150px;
    background-color: transparent;
    font-size: 15px;
    color: white;
    outline: none;
    border: none;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.search__input:focus {
    outline: none;
}

.weather {
    width: 100px;
    height: 100%;
    position: relative;
}

.weather__icon {
  position: absolute;
  top: -5px;
  left: 15px;
  width: 40px;
  height: 40px;
}

.weather__temp {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 27px;
    font-weight: 500;
}

.weather__city {
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: 13px;
}

.main {
    width: 100%;
    height: calc(47% - 40px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.main__clock {
    font-size: 165px;
    font-weight: 500;
}

.main__login,
.main__inner {
    border: none;
    background: transparent;
    font-size: 55px;
    font-weight: 500;
    color: white;
}

.main__login {
    border-bottom: 2px solid white;
    text-align: center;
}

.main__login::placeholder,
.todo__input::placeholder {
    color: white;
}

.main__login:focus,
.todo__input:focus {
    outline: none;
}

.hidden {
    display: none;
}

.backgronud-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.todo {
    width: 100%;
    height: calc(53% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    box-sizing: border-box;
}

.todo__title {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 20px;
}

.todo__input {
    border: none;
    background: transparent;
    font-size: 25px;
    font-weight: 500;
    color: white;
    border-bottom: 2px solid white;
    text-align: center;
    width: 350px;
}

.todo__list {
    margin-top: 20px;
    height: 145px;
    overflow: scroll;
    width: 410px;
}

.todo__list::-webkit-scrollbar {
    display: none;
}

.todo__list li {
    margin-bottom: 7px;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
}

.todo__text {
    font-size: 18px;
    font-weight: 700;
    width: 85%;
    line-height: 40px;
    font-family: 'Nanum Gothic', sans-serif;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    cursor: pointer;
    line-height: 40px;
}

input[type="checkbox"] + label::after{
    content:'';
    display: inline-block;
    margin-right: 10px;
    width: 13px;
    height: 13px;
    background-color: transparent;
    border: 2px solid var(--text-gray);
    border-radius: 5px;
    position: relative;
    top: 3px;
    line-height: 12px;
}

input[type="checkbox"]:checked + label::after {
    content:'✔';
    display: inline-block;
    width: 13px;
    height: 13px;
    border-color: #ffffff;
    color: var(--text-gray);
    position: relative;
    top: -0.5px;
}

input[type="checkbox"]:checked ~ span {
    color:  var(--text-gray);
    text-decoration-line: line-through;
}

.todo__button {
    background: transparent;
    border: none;
    margin-left: 5px;
    vertical-align: -2px;
    color: white;
    font-size: 35px;
    cursor: pointer;
    line-height: 40px;
}

@media screen and (max-width:500px) {
    body {
        min-height: unset;
    }
    
    .main__clock {
        font-size: 120px;
    }

    .main__login, .main__inner {
        text-align: center;
        font-size: 27px;
    }

    .todo {
        padding-top: 50px;
    }

    .todo__input {
        font-size: 18px;
        width: 320px;
    }

    .todo__list {
        width: 330px;
      height: 220px;
    }

    .todo__list li {
        margin-bottom: 2px;
      }

    input[type="checkbox"] {
        display: none;
    }
    
    input[type="checkbox"] + label {
        cursor: pointer;
        line-height: 40px;
    }
    
    input[type="checkbox"] + label::after{
        content:'';
        display: inline-block;
        margin-right: 10px;
        width: 11px;
        height: 11px;
        margin-right: 7px;
        background-color: transparent;
        border: 2px solid var(--text-gray);
        border-radius: 5px;
        position: relative;
        top: 1px;
        line-height: 12px;
    }
    
    input[type="checkbox"]:checked + label::after {
        content:'✔';
        display: inline-block;
        width: 11px;
        height: 11px;
        border-color: #ffffff;
        color: var(--text-gray);
        position: relative;
        top: -0.5px;
    }

    .todo__text {
        font-size: 15px;
        width: 90%;
        line-height: 37px;
    }

    .todo__button {
        margin-left: 0px;
        padding: 0;
        font-size: 25px;
    }

    .quote {
        display: none;
    }

    .search__input {
        position: absolute;
        top: 13px;
        left: 20px;
        width: 150px;
        background-color: transparent;
        font-size: 15px;
        color: white;
        outline: none;
        border: none;
        opacity: 0;
        transition: all 0.4s ease-in-out;
        padding: 1px 2px;
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .main__clock {
        font-size: 120px;
    }

    .main__login, .main__inner {
        text-align: center;
        font-size: 27px;
    }

    .todo {
        justify-content: flex-start;
    }

    .todo__input {
        font-size: 20px;
    }

    .todo__list {
        height: 200px;
    }

    .quote {
        display: none;
    }

    .search__input {
        position: absolute;
        top: 13px;
        left: 20px;
        width: 150px;
        background-color: transparent;
        font-size: 15px;
        color: white;
        outline: none;
        border: none;
        opacity: 0;
        transition: all 0.4s ease-in-out;
        padding: 1px 2px;
        margin: 0;
    }

    input[type="checkbox"] {
        display: none;
    }
    
    input[type="checkbox"] + label {
        cursor: pointer;
        line-height: 40px;
    }
    
    input[type="checkbox"] + label::after{
        content:'';
        display: inline-block;
        margin-right: 10px;
        width: 13px;
        height: 13px;
        background-color: transparent;
        border: 2px solid var(--text-gray);
        border-radius: 5px;
        position: relative;
        top: 3px;
        line-height: 12px;
    }
    
    input[type="checkbox"]:checked + label::after {
        content:'✔';
        display: inline-block;
        width: 13px;
        height: 13px;
        border-color: #ffffff;
        color: var(--text-gray);
        position: relative;
        top: -0.5px;
    }
    
    input[type="checkbox"]:checked ~ span {
        color:  var(--text-gray);
        text-decoration-line: line-through;
    }
}

@media screen and (max-width:1200px) {
    .main__inner {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
    }
}
